In [ ]:
#print(i, end=' ')
#keeps everything on same line
print("Welcome to", end = " " )
print("My Home")

Welcome to My Home

In [ ]:
print("My mail id is ",end = ': ')
print("indira_rana", end = '@')
print(".com")

My mail id is : indira_rana@.com

In [ ]:
print("RITU")
print("NEHA")
print("MANJEET")

RITU
NEHA
MANJEET

In [ ]:
i,x,s, = 0,"ritu",1.4

In [ ]:
#The Fibonacci numbers are the sequence below, where the first two numbers are 1, and each
#number thereafter is the sum of the two preceding numbers. Write a program that asks the
#user how many Fibonacci numbers to print and then prints that many.
#1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89 . .
#Program to display the Fibonacci sequence up to n-th term
n = int(input("first no is:"))
print("fibonacci series is :")
i,x,s, = 0,"ritu",1
while i <= n:
    print(s)
    sum = x + s
x=s
s=sum
i= i+1

In [ ]:
#PROGRAM 2: WAP to Add numbers and Concatenate strings
# Program 2.1: Add two numbers
a = 5
b = 10
sum = a+b
print(sum)

15

In [ ]:
#Program 2.2: Concatenate two strings
a= "My name is "
b="Ritu Rana"
print(a+b)

My name is Ritu Rana

In [ ]:
#PROGRAM 3: WAP to take Input from user
#Program 3.1: Input two numbers from user and add them
a = int(input("Enter the value of first a: "))
b = int(input("Enter the value of b: "))
sum = a+b
print("sum of two numbers a + b = ", sum)

In [ ]:
#Program 3.2: Input two strings from user and concatenate them
a=input("first string ")
b=input("second string ")
print(a + b)

In [ ]:
a=input("first string ")
b=input("second string ")
print(a, end = ' ' + b)

first string q
second string w
q w

In [ ]:
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')
sum = float(num1) + float(num2)
print(sum)

In [ ]:
#PROGRAM 4: WAP to understand the concept of Loops
#Program 4.1: While Loop
#Sum of n numbers
n= int(input("enter the value of: "))
i=1
sum=0
while i <= n:
    sum = sum + i
    i = i + 1
print("sum of n numbers is: ", sum)

enter the value of: 4
sum of n numbers is:  10

In [ ]:
#Program 4.2: Range Function
x = range(0,20)
for n in x:
    print(n, end = " ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [ ]:
# range(start, stop, step)
x = range(1,21,2)
for n in x:
    print(n, end = " ")

1 3 5 7 9 11 13 15 17 19

In [ ]:
#program 4.3:For Loop
# print a series of n numbers
n = int(input("Enter the value of n: "))
for i in range(n):
      print(i)

Enter the value of n: 6
0
1
2
3
4
5

In [ ]:
#program 4.4: Multiplication table of 5 in Python
n = int(input("The table of: "))
for i in range(1,11):
    print(n ,'x', i ,'=',n * i)

The table of: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
#Program 4.5: Sum all numbers from 1 to 10
n = int(input("enter the number "))
for i in range(1, n+1):
    print(i, end = " ")
sum = 0
for x in range(n+1):
  sum = sum + x
print(end = '\n')
print("Sum of first ", n, "numbers is: ", sum)

enter the number 7
1 2 3 4 5 6 7
Sum of first  7 numbers is:  28

In [ ]:
#PROGRAM 5: WAP to understand the concept of If-Else - Conditional Checking
# Program 5.1: Input two numbers from user and compare them
firstNo = int(input("Enter the first number: "))
secondNo = int(input("Enter the second number: "))
if firstNo>secondNo:
    print("Frist Number is greater ")

elif firstNo == secondNo:
    print("Both numbers are equal")
else:
    print("Second Number is greater")

Enter the first number: 3
Enter the second number: 4
Second Number is greater

In [ ]:
#Program 5.2: Check whether a number is odd or even
n = int(input("enter the number "))
if n%2==0:
    print("the number is even")
else:
    print("the number is odd")

enter the number 23
the number is odd

In [ ]:
#Program 5.3: Check whether a number is prime or not
a = int(input("Enter a number: "))
if a > 1:
    for i in range(2,a):
        #print(i, end = " ")
        #print(end = "\n ")
        if a % i == 0:
            print(a,"is not a prime number")
            print(i,"x",a//i,"are",a)
            break
    else:
        print(a,"is a prime number")

else:
    print(a,"is not a prime number")

Enter a number: 12
12 is not a prime number
2 x 6 are 12

In [ ]:
# PROGRAM 6: WAP to understand the concept of Functions
# Program 6.1: Add two numbers
def addNum(x,y):
    return x + y
# sum = x+y;
 #return sum;

a = int(input("input the number 1st : "))
b = int(input("input the number 2nd :"))

print("The sum of two numbers is : ",addNum(a,b))

input the number 1st : 3
input the number 2nd :4
The sum of two numbers is :  7

In [ ]:
#Program 6.2: Prime number using Functions
def primeNum(num):
    if num > 1:
        for i in range(2,num):
            #print(i, end = " ")
            if num % i == 0:
                print(num,"is not a prime number")
                print(i,"x",num//i,"are",num)
                break
        else:
            print(num,"is a prime number")

    else:
        print(num,"is not a prime number")

a = int(input("Enter any number : "))
primeNum(a)

Enter any number : 7
7 is a prime number

In [ ]:
#Program 6.3: Add 1 to n using functions
def sumOfNaturalNum(num):
    if num == 0:
        return num
    else:
        sum = num * (num + 1)/2
        return sum
a = int(input("Please Enter any Number: "))

totalSum = sumOfNaturalNum(a)
print("Sum of Natural Numbers from 1 to {0} =  {1}".format(a, totalSum))

Please Enter any Number: 3
Sum of Natural Numbers from 1 to 3 =  6.0

In [ ]:
#PROGRAM 7: WAP using Demo of Data Structure - List
#Program 11.1: List Declaration
a = [1,2,3,4,5,6]
print(a[2])
stu = ["Rohan", 102, "India"]
#print("Name : %s, ID : %d, Country : %s"%(stu[0],stu[1],stu[2]))
print(stu[1],stu[2])

3
102 India

In [ ]:
#Program 11.2: List Iteration
r = [1,2,3]
list1 = [1,2,3,"Ram","Sham"]
lstLenth = len(list1)
for i in range(3,lstLenth):
    print(i, end = " ")
    #print(list[i])

3 4

In [ ]:
#Program 11.3: List Iteration using for loop
lst = [1,"Ram", "Rohan", 3, 4]
listLength = len(lst)
print("Length of the lisi is: ", listLength)
print("Elements of the list are: ")
for i in lst:
    print(i, end = " ")

Length of the lisi is:  5
Elements of the list are:
1 Ram Rohan 3 4

In [ ]:
# list iteration using while loop
emp = ["Rama",34,"USA"]
length = len(emp)
i = 0
while i < length:
    #print("sName: ",emp[i])
    if i == 0:
        print("EmpName: ",emp[i])
    elif i == 1:
        print("EmpID: ",emp[i])
    else:
        print("EmpCountry: ", emp[i])
    i = i+1

EmpName:  Rama
EmpID:  34
EmpCountry:  USA

In [ ]:
# Program 11.4 : Adding and deleting from list
#adding to list
stuNames = ['Joni', 'Rama', 'Meera', 'Jiya', 'Joojh']
stuRollNum = (1,2,3,4,5)
stuNames.append('Ritu')
print(stuNames)
stuNames.append(1)
print(stuNames)
stuNames.append(stuRollNum)
print(stuNames)
stuNames.extend(stuRollNum)
print(stuNames)

['Joni', 'Rama', 'Meera', 'Jiya', 'Joojh', 'Ritu']
['Joni', 'Rama', 'Meera', 'Jiya', 'Joojh', 'Ritu', 1]
['Joni', 'Rama', 'Meera', 'Jiya', 'Joojh', 'Ritu', 1, (1, 2, 3, 4, 5)]
['Joni', 'Rama', 'Meera', 'Jiya', 'Joojh', 'Ritu', 1, (1, 2, 3, 4, 5), 1, 2, 3, 4, 5]

In [ ]:
#deleting from list
stuNames = ['Joni', 'Rama', 'Meera', 'Jiya', 'Joojh']
del stuNames[4]
print(stuNames)
del stuNames[1:3]
print(stuNames)

['Joni', 'Rama', 'Meera', 'Jiya']
['Joni', 'Jiya']

In [ ]:
#add elements in empty list
stuList = []
noElm = int(input("enter the number of elements you want in the list: "))
for i in range(0,noElm):
    stuList.append(input("enter element in list : "))
print("List of enterd elements : ")
print(stuList)
for x in stuList:

    print(x, end = " ")

enter the number of elements you want in the list: 3
enter element in list : w
enter element in list : r
enter element in list : t
List of enterd elements :
['w', 'r', 't']
w r t

In [ ]:
#delete the elements
stuNames = ['Joni', 'Rama', 'Meera', 'Jiya', 'Joojh']
print("List before removing element : ")
for i in stuNames:
    print(i, end = " ")
print(end = '\n')
del stuNames[3]
print(stuNames)
stuNames.remove("Rama")
print("List after removing element : ")
for i in stuNames:
    print(i, end = " ")

List before removing element :
Joni Rama Meera Jiya Joojh
['Joni', 'Rama', 'Meera', 'Joojh']
List after removing element :
Joni Meera Joojh

In [ ]:
#Program 11.5 : Sum/Average of List
#sum  of list
lstOfNum = [1,2,3,4,5]
total = 0
for i in lstOfNum:
    total = total + i
print("The sum of list elements is:",total)

The sum of list elements is: 15

In [ ]:
p = [1, 2, 3, 4, 5]
q = [3, 4, 2, 4, 5]
print(type(p))
def calMean(p1):
    return sum(p1) / len(p1)  # Using built-in functions

average_x = calMean(p)
print("Average of x =", round(average_x, 2))

<class 'list'>
Average of x = 3.0

In [ ]:
list1 = [1,2,3,4,5]
lst2 = [3,4,2,4,5]
def calMean(list_input):
    return sum(list_input)/len(list_input)
average_x = calMean(list1)
print("Average of the x =", round(average_x, 2))

Average of the x = 3.0

In [ ]:
#sub of two list
sum = 0
lst = []
lstLenth1 = len(list1)
print(lstLenth1)
lstleth2 = len(lst2)
for i in range(lstLenth1):
    for j in range(lstleth2):
        if i == j:
            sum = list1[i] - lst2[j]
            lst.append(sum * sum)
            print(sum)
print(lst)
sumOfxsqure = 0
for i in lst:
    sumOfxsqure = sumOfxsqure + i
sumOfxsqure

5
-2
-2
1
0
0
[4, 4, 1, 0, 0]

9

In [ ]:
# remove the duplicate element of the list
lstOfNum = [1,2,1,3,3,4,5,2,7,6]
newList = []
for i in lstOfNum:
    if i not in newList:
        newList.append(i)
print(newList)
newList.sort()
print(newList)

[1, 2, 3, 4, 5, 7, 6]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
def cal_average(e):
    return sum(e) / len(e)
    sum_num = 0
    for t in e:
        sum_num = sum_um + t

    avg = sum_num / len(e)
    return avg

print("The average is", cal_average([18,25,3,41,5]))

The average is 18.4

In [ ]:
#Average  of list
# Using mean()
from statistics import mean
def calMean(lst):
    return mean(lst)
lstOfNum = [1,2,3,4,5,9,8,7,6]
average = calMean(lstOfNum)
print("Average of the list =", round(average, 2))

Average of the list = 5

In [ ]:
def Average(lst):
    return sum(lst) / len(lst)

# Driver Code
lst = [15, 9, 55, 41, 35, 20, 62, 49]
average = Average(lst)

# Printing average of the list
print("Average of the list =", round(average, 2))

Average of the list = 35.75

In [ ]:
# Program 11.6 : Min/Max/Sort the list
#Min in list
numberLst = [13,16, 2, 9, 5, 10, 6,78,56,43,3]
smallestNumber = min(numberLst);

print("The smallest number is:", smallestNumber)

The smallest number is: 2

In [ ]:
#Max in list
numberLst = [13,16, 2, 9, 5, 10, 6,78,56,43,3]
largestNumber = max(numberLst);

print("The largest number is:", largestNumber)

The largest number is: 78

In [ ]:
#Sort the List
numberLst = [13,16, 2, 9, 5, 10, 6,78,56,43,3]
numberLst.sort();

print("The sorted list is:", numberLst)

The sorted list is: [2, 3, 5, 6, 9, 10, 13, 16, 43, 56, 78]

In [ ]:
#Program 11.7 : Merge lists & select elements
stuNames = ['Joni', 'Rama', 'Meera', 'Jiya', 'Joojh']
stuRollNum = (1,2,3,4,5)
stuNames.extend(stuRollNum)
print("Merged list:", stuNames)

# concatenation using + operator
names = ['Joni', 'Rama', 'Meera', 'Jiya', 'Joojh']
rollNum = [1,2,3,4,5]
names = names + rollNum
print("Merged list using + operator:" + str(names))

Merged list: ['Joni', 'Rama', 'Meera', 'Jiya', 'Joojh', 1, 2, 3, 4, 5]
Merged list using + operator:['Joni', 'Rama', 'Meera', 'Jiya', 'Joojh', 1, 2, 3, 4, 5]

In [ ]:
#Program 1: WAP to add three numbers and print result
def addNum(a,b,c):
#     if a == b == c:
#         sum = a * 3
    sum = a+b+c
    return sum

x=int(input("enter the 1st number : "))
y =int(input("enter the 2nd number : "))
z =int(input("enter the 3rd number : "))
addNum(x,y,z)
print(addNum(x,y,z))

enter the 1st number : 2
enter the 2nd number : 3
enter the 3rd number : 4
9

In [ ]:
#Program 2: WAP to concatenate three strings and print result
x = input("enter 1st string : ")
y = input("enter 2st string : ")
z = input("enter 3st string : ")
print(x, end = " ")
print(y, end = " ")
print(z, end = " ")
print(end = '\n')

#using + operator concatenate the three strings
a = "My name "
b = "is "
c = "Reeta"
a = a + b + c
print(a)

enter 1st string : Ritu
enter 2st string : Rana
enter 3st string : Chandel
Ritu Rana Chandel
My name is Reeta

In [ ]:
#Program 3: WAP to add three numbers, inputs from user and print result
a = int(input("Enter 1st no: "))
b = int(input("Enter 2nd no: "))
c = int(input("Enter 3rd no: "))
print(a + b + c)

Enter 1st no: 2
Enter 2nd no: 3
Enter 3rd no: 4
9

In [ ]:
#Program 4: WAP to concatenate three strings, inputs from user and print
str1 = input("Enter the First  String : ")
str2 = input("Enter the Second String : ")
str3 = input("Enter the Third String : ")


concat1 = str1 + str2+ str3
print("The final String After Concatenation = ", concat1)
concat2 = str1 + ' ' + str2 + ' ' + str3
print("The final After String Concatenation with Space = ", concat2)

Enter the First  String : welcome
Enter the Second String : to
Enter the Third String : my home
The final String After Concatenation =  welcometomy home
The final After String Concatenation with Space =  welcome to my home

In [ ]:
#Program 5: WAP to print the table of 7, 9.
num = 7
for i in range(1,11):
    print(num , 'x', i ,'=', num * i )

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
#WAP to print the table of 9
num = 9
for i in range(1,11):
    print(num , 'x', i ,'=', num * i )

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
#Program 6: WAP to print the table of n and n is given by user.
num = int(input("Enter the number: "))

for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

Enter the number: 14
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

In [ ]:
#Program 7: WAP to add all the numbers from 1 to n and n is given by user.
num = int(input("Enter the number : "))
if num < 0:
    print(num)
    print("Enter a positive number")
else:
    print(num)
    sum = 0
    for i in range(1,num+1,1):
        sum = sum + i
print("Sum of first ", num, "numbers is: ", sum)

Enter the number : 3
3
Sum of first  3 numbers is:  6

In [ ]:
#Program 8: WAP to find max among three numbers and input from user
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
if a == b == c:
    print("These numbers are equal")
elif a > b and a > c:
    print("The greatest numer is a: ", a)
elif b > a and b > c:
    print("The greatest numer is b: ", b)
else:
    print("The greatest numer is c: ", c)

Enter first number: 3
Enter second number: 4
Enter third number: 6
The greatest numer is c:  6

In [ ]:
#Program 9: WAP to add all even numbers from 1 to n and n is given by user.
n = int(input("Enter the natural number: "))
sum = 0
for i in range(1,n+1):
    if i%2 == 0:
        sum = sum + i
print("Sum of even numbers coming between 1 to", n, ": ",sum)

Enter the natural number: 8
Sum of even numbers coming between 1 to 8 :  20

In [ ]:
#Program 10: WAP to add all prime numbers from 1 to n and n is given by user.
n = int(input("Enter the natural numbers: "))
sum = 0
x = 0
if n > 1:
    for i in range(2,n+1):
        #print("i",i)
        for x in range(2,i):
            #print("x",x)
            if i% x == 0:
                x = i
                #print("i", i ,"is not a prime no")
                break
        if x != i:
            #print("iii", i ,"is a prime no")
            sum = sum + i


else:
    print("number shuld be greater tha 1")

print("sum of all prime numbers upto",n ,"is : ", sum)

Enter the natural numbers: 3
sum of all prime numbers upto 3 is :  5

In [ ]:
#Program: WAP to add all odd numbers from 1 to n and n is given by user.
n = int(input("Enter the natural numbers: "))
sum = 0
for i in range(1,n+1):
    if i%2 != 0:
        sum = sum + i
print("Sum of up to",n,"odd numbers is",sum)

Enter the natural numbers: 8
Sum of up to 8 odd numbers is 16

In [ ]:
#Program 11: WAP using function that add all odd numbers from 1 to n; n given by user
def addOddNo(n):
    sum = 0
    for i in range(1, n+1):
        if i % 2 != 0:
            sum = sum + i
    return(sum)
num = int(input("Enter any number : "))
#addOddNo(num)
print("The sum of ",num, "odd numbers is : ", addOddNo(num))

Enter any number : 9
The sum of  9 odd numbers is :  25

In [ ]:
#Program 12: WAP using function that add all even numbers from 1 to n; n given by user.
def addEvnNo(n):
    sum = 0
    for i in range(1,n+1):
        if i % 2 == 0:
            sum = sum +i
    return(sum)
num = int(input("Enter any number : "))
print("The sum of ",num, "even numbers is : ", addEvnNo(num))

Enter any number : 4
The sum of  4 even numbers is :  6

In [ ]:
#Program 13: WAP using function that add all prime numbers from 1 to n; n given by user.

def addPrimeNm(n):
    sum = 0
    x = 0
    if n > 1:
        for i in range(2,n+1):
            #print("i",i)
            for x in range(2,i):
                #print("x",x)
                if i% x == 0:
                    x = i
                #print("i", i ,"is not a prime no")
                    break
            if x != i:
                print( i ,"is a prime no")
                sum = sum + i
                #return(sum)

    else:
        print("number shuld be greater tha 1")
    return(sum)
num = int(input("Enter the natural numbers: "))
print("sum of all prime numbers upto",num ,"is : ", addPrimeNm(num))

Enter the natural numbers: 5
2 is a prime no
3 is a prime no
5 is a prime no
sum of all prime numbers upto 5 is :  10

In [ ]:
#Program 14: WAP to multiply all elements of list by a constant
lst = []

lstLength = int(input("Enter the no. of element you want to enter in the list : "))
for i in range(0,lstLength + 1 ):
    lst.append(int(input("Enter the int element you in the list ")))
print(lst)
num = int(input("Enter any number by which want to mutiply : "))
lstLength = len(lst)
for x in range(lstLength) :
    lst[x] = num * lst[x]
print(lst)
# for i in lst:
#     print(i)
# print()

Enter the no. of element you want to enter in the list : 3
Enter the int element you in the list 2
Enter the int element you in the list 3
Enter the int element you in the list 3
Enter the int element you in the list 4
[2, 3, 3, 4]
Enter any number by which want to mutiply : 4
[8, 12, 12, 16]

In [ ]:
#nested dictionary
D = {'emp1': {'name': 'Bob','job': 'Mgr'},
     'emp2': {'name': 'Kim', 'job': 'Dev'},
     'emp3': {'name': 'Sam', 'job': 'Dev'}}

print(D['emp1']['name'])
# Prints Bob

print(D['emp2']['job'])
# Prints Dev

Bob
Dev

In [ ]:
from fractions import Fraction
a = 5
b=3
print(Fraction(a,b))

5/3

In [ ]:
def create_matrix(rows, columns):
    # Create a 2D matrix with all elements set to 0
    matrix = [[0 for _ in range(columns)] for _ in range(rows)]

    # Assign the elements of the first row to each row of the matrix
    for i in range(rows):
        for j in range(columns):
            matrix[i][j] = matrix[0][j]

    return matrix

def main():
    try:
        # Get the number of rows and columns from the user
        rows = int(input("Enter the number of rows: "))
        columns = int(input("Enter the number of columns: "))

        # Create the matrix
        matrix = create_matrix(rows, columns)

        # Print the matrix
        for row in matrix:
            print(row)

    except ValueError:
        print("Invalid input. Please enter valid integers for the number of rows and columns.")

if __name__ == "__main__":
    main()

Enter the number of rows: 3
Enter the number of columns: 3
[0, 0, 0]
[0, 0, 0]
[0, 0, 0]