# ASSIGNMENT 2,NAME-SARISHTI, ROLL NUMBER-102317212

In [1]:
#QUES 1
L = [10, 20, 30, 40, 50, 60, 70, 80]

# i. Add 200 and 300 to L
L.append(200)
L.append(300)
print(L)
# ii. Remove 10 and 30 from L
L.remove(10)
L.remove(30)
print(L)
# iii. Sort L in ascending order
L.sort()
print(L)
# iv. Sort L in descending order
L.sort(reverse=True)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

In [2]:
#QUES 2
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

# i. Identify the highest score and its index
max_score = max(scores)
max_index = scores.index(max_score)
print("Max Score:", max_score, "at index", max_index)

# ii. Find the lowest score and count occurrences
min_score = min(scores)
count_min = scores.count(min_score)
print("Min Score:", min_score, "occurs", count_min, "times")

# iii. Reverse the tuple and return it as a list
reversed_list = list(scores[::-1])
print("Reversed List:", reversed_list)

# iv. Check if 76 exists in the tuple
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
search_value = 76

if search_value in scores:
    print(str(search_value) + " found at index " + str(scores.index(search_value)))
else:
    print(str(search_value) + " is not present in the tuple")

Max Score: 92 at index 5
Min Score: 45 occurs 2 times
Reversed List: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
76 found at index 2

In [3]:
#QUES 3
import random
random_numbers = [random.randint(100, 900) for _ in range(100)]

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):  # Checking up to sqrt(n)
        if n % i == 0:
            return False
    return True
    
odd_numbers = [num for num in random_numbers if num % 2 != 0]
even_numbers = [num for num in random_numbers if num % 2 == 0]
prime_numbers = [num for num in random_numbers if is_prime(num)]

print("Generated Numbers:", random_numbers)
print("\nTotal Odd Numbers:", len(odd_numbers), "\nOdd Numbers:", odd_numbers)
print("\nTotal Even Numbers:", len(even_numbers), "\nEven Numbers:", even_numbers)
print("\nTotal Prime Numbers:", len(prime_numbers), "\nPrime Numbers:", prime_numbers)

Generated Numbers: [551, 350, 689, 378, 120, 512, 826, 133, 239, 469, 297, 722, 519, 629, 328, 705, 793, 288, 776, 523, 824, 477, 507, 452, 206, 577, 632, 701, 343, 400, 595, 810, 646, 601, 347, 500, 399, 292, 477, 642, 153, 481, 553, 530, 518, 701, 680, 797, 405, 677, 686, 206, 220, 230, 524, 124, 479, 135, 448, 236, 224, 370, 758, 445, 232, 495, 873, 450, 145, 768, 454, 721, 297, 454, 199, 898, 135, 455, 795, 263, 752, 233, 393, 216, 667, 144, 752, 231, 191, 250, 844, 252, 152, 503, 411, 683, 106, 789, 613, 436]

Total Odd Numbers: 51
Odd Numbers: [551, 689, 133, 239, 469, 297, 519, 629, 705, 793, 523, 477, 507, 577, 701, 343, 595, 601, 347, 399, 477, 153, 481, 553, 701, 797, 405, 677, 479, 135, 445, 495, 873, 145, 721, 297, 199, 135, 455, 795, 263, 233, 393, 667, 231, 191, 503, 411, 683, 789, 613]

Total Even Numbers: 49
Even Numbers: [350, 378, 120, 512, 826, 722, 328, 288, 776, 824, 452, 206, 632, 400, 810, 646, 500, 292, 642, 530, 518, 680, 686, 206, 220, 230, 524, 124, 448, 236, 224, 370, 758, 232, 450, 768, 454, 454, 898, 752, 216, 144, 752, 250, 844, 252, 152, 106, 436]

Total Prime Numbers: 17
Prime Numbers: [239, 523, 577, 701, 601, 347, 701, 797, 677, 479, 199, 263, 233, 191, 503, 683, 613]

In [5]:
#QUES 4
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

union_set = A | B
print("Union:", union_set)
intersection_set = A & B
print("Intersection:", intersection_set)
symmetric_difference_set = A ^ B
print("Symmetric Difference:", symmetric_difference_set)

is_A_subset_B = A.issubset(B)
print("A is subset of B: " + str(is_A_subset_B))
is_B_superset_A = B.issuperset(A)
print("B is superset of A: " + str(is_B_superset_A))

input_score = int(input("Enter score to remove from A: "))

if input_score in A:
    A.remove(input_score)
    print(str(input_score) + " removed from A")
else:
    print(str(input_score) + " is not present in A")

Union: {34, 45, 78, 23, 56, 90}
Intersection: {90, 78}
Symmetric Difference: {34, 45, 23, 56}
A is subset of B: False
B is superset of A: False

Enter score to remove from A:  45

45 is not present in A

In [6]:
#QUES 5
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

sample_dict['location'] = sample_dict.pop('city')

print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}